{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    {% include 'navigation.html' %}
    <div class="container mt-5">
        <h1 class="title"><i class="fas fa-exclamation-triangle pr-3"></i>Page not found</h1>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 mt-5">
                <h2>Uh oh! Looks like that's a not a page on the site.</h2>
                <p>Want to try <a href="{% slugurl 'home' %}">returning to the homepage</a>?</p>
            </div>
        </div>
    </div>
{% endblock %}
