{% load wagtailcore_tags %}

<nav id="navigation" class="mt-3 pl-md-4">
    <button onclick="navToggle()" class="hamburger hamburger--spin" type="button">
                  <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                  </span>
    </button>
    <ul class="menulist underline-expand">
        <li><a class="menuitems" href="{% slugurl 'home' %}">Home</a></li>
        <li><a class="menuitems" href="{% slugurl 'portfolio' %}">Portfolio</a></li>
        <li><a class="menuitems" href="{% slugurl 'blog' %}">Blog</a></li>
    </ul>
</nav>
