{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    {% include 'navigation.html' %}
    <div class="container mt-5 mb-5">
        <h1 class="title">{{ page.title|title }}</h1>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="meta"><i class="far fa-calendar-alt pr-1"></i> {{ page.date }}</p>
                <div class="intro lead px-3 mt-4 mb-5"><p>{{ page.intro }}</p></div>
                <div class="blog-post-body pl-2 mt-5">
                    <div class="blog-body mt-2">{{ page.body }}</div>
                    <p class="mt-5"><a class="underline-expand" href="{{ page.get_parent.url }}">Return to blog</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
