{% load wagtailimages_tags %}

{% for portfolio_item in value %}
    {% if forloop.first %}
        <div class="carousel-item active">
    {% else %}
        <div class="carousel-item">
    {% endif %}
{% image portfolio_item.project_image max-800x800 as imagedata %}
<img src="{{ imagedata.url }}" class="d-block portfolio-img" alt="{{ imagedata.alt }}"/>
<div class="carousel-caption d-none d-md-block">
    <a href="{{ portfolio_item.project_url }}" target="_blank">View this site</a>
</div>
</div>
{% endfor %}
